/* Universal CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* SignUp CSS */


/* Login CSS */


/* Menu CSS */


/* Payment CSS */


/* Receipt CSS */


/* Management CSS */